Тема “Вычисления с помощью Numpy”
Задание 1
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк
и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6,
8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение.
Затем найдите среднее значение по каждому признаку, используя метод mean массива
Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

a = np.array([[1, 6],
              [2, 8],
              [3, 11],
              [3, 10],
              [1, 7]])

# Найти среднее значение по каждому признаку
mean_a = np.mean(a, axis=0)

print(mean_a)

[2.  8.4]

Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения
соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно
производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [2]:
a_centered = a - mean_a

print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна
получиться величина _centered_spa. Затем поделите a_centered_sp на N-1, где N - число
наблюдений.

In [3]:
# Вычислить скалярное произведение столбцов массива a_centered
a_centered_sp = np.dot(a_centered[:, 0], a_centered[:, 1])

# Поделить на N-1, где N - число наблюдений
N = a_centered.shape[0]
a_centered_sp /= (N - 1)

print(a_centered_sp)

2.0

Тема “Работа с данными в Pandas”
Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со
столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и
['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно
содержатся данные:
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и
поклонники']
Нужны prices!
[500, 400, 300, 350, 450, 600, 200]

In [4]:
import pandas as pd

# Создать датафрейм authors
authors = pd.DataFrame({
    "author_id": [1, 2, 3],
    "author_name": ["Тургенев", "Чехов", "Островский"]
})

# Создать датафрейм books
books = pd.DataFrame({
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ["Отцы и дети", "Рудин", "Дворянское гнездо", "Толстый и тонкий", "Дама с собачкой", "Гроза", "Таланты и поклонники"],
    "price": [500, 400, 300, 350, 450, 600, 200]
})

# Вывести датафреймы
print("Датафрейм authors:")
print(authors)
print("\nДатафрейм books:")
print(books)

Датафрейм authors:
   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

Датафрейм books:
   author_id            book_title  price
0          1           Отцы и дети    500
1          1                 Рудин    400
2          1     Дворянское гнездо    300
3          2      Толстый и тонкий    350
4          2       Дама с собачкой    450
5          3                 Гроза    600
6          3  Таланты и поклонники    200

Задание 2
Получите датафрейм authors_price, соединив дата фреймы authors и books по полю author_id.

In [5]:
# Объединить датафреймы по полю author_id
authors_price = pd.merge(authors, books, on="author_id")

# Вывести объединенный датафрейм
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    500
1          1    Тургенев                 Рудин    400
2          1    Тургенев     Дворянское гнездо    300
3          2       Чехов      Толстый и тонкий    350
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    600
6          3  Островский  Таланты и поклонники    200

Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими
книгами.

In [6]:
# Отсортировать датафрейм по цене в порядке убывания
authors_price = authors_price.sort_values(by="price", ascending=False)

# Выбрать пять самых дорогих книг
top5 = authors_price.head(5)

# Вывести датафрейм top5
print(top5)

   author_id author_name        book_title  price
5          3  Островский             Гроза    600
0          1    Тургенев       Отцы и дети    500
4          2       Чехов   Дама с собачкой    450
1          1    Тургенев             Рудин    400
3          2       Чехов  Толстый и тонкий    350

Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat
должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя
цена на книги этого автора.

In [7]:
# Сгруппировать данные по имени автора и вычислить статистику для каждого автора
authors_stat = authors_price.groupby("author_name").agg({"price": ["min", "max", "mean"]})

# Удалить уровень индекса и переименовать столбцы
authors_stat.columns = authors_stat.columns.droplevel()
authors_stat.columns = ["min_price", "max_price", "mean_price"]

# Вывести датафрейм authors_stat
print(authors_stat)

             min_price  max_price  mean_price
author_name
Островский         200        600       400.0
Тургенев           300        500       400.0
Чехов              350        450       400.0